package-lock.json
node_modules/
.parcel-cache/
.ruff_cache/
*.egg-info/
*__pycache__/
dist/
.env
# Excluded from git because generated, but included in the released python package.
src/archon/static
# IDEs
.vscode/
# System
*.DS_Store
# Ansible vault
.vault_password