include LICENSE README.md

graft src/archon
prune src/front
prune src/scripts
prune src/tests
exclude Makefile
exclude package.json
exclude tsconfig.json

global-exclude */__pycache__/*
global-exclude *.egg-info/*
global-exclude *.DS_Store
