{% extends "layout.html.j2" %}

{% block scripts %}
<script async src="{{ url_for('static', path='console.js') }}" type="module"></script>
{% endblock%}

{% block content %}
<div class="modal fade" id="scoreModal" tabindex="-1" aria-hidden="true" aria-labelledby="scoreModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="scoreModalLabel">Edit Score</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="scoreForm">
                    <input hidden type="text" name="player_uid" id="scoreFormPlayerUid">
                    <input hidden type="number" name="round" id="scoreFormRound">
                    <input class="form-control my-2" type="number" name="vp" min="0" max="5" step="0.5"
                        id="scoreFormVP">
                    <button type="submit" class="btn btn-primary my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<h1 class="mb-4">{{ tournament.name }}</h1>
<div hidden="true" aria-hidden="true" id="tournamentData" data-tournament='{{ tournament | jsonable | tojson }}'></div>
<nav>
    <div class="nav nav-tabs" id="navTab" role="tablist">
        <button class="nav-link active" id="navRegistrationsTab" data-bs-toggle="tab" data-bs-target="#navRegistrations"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Registrations</button>
        {# <button class="nav-link" id="navRound1Tab" data-bs-toggle="#navRound1" data-bs-target="#nav-profile"
            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Round 1</button> #}
    </div>
</nav>
<div class="tab-content" id="navTabContent">
    <div class="tab-pane fade show active" id="navRegistrations" role="tabpanel" aria-labelledby="navRegistrationsTab">
        <div class="row g-3" id="actionRow">
        </div>
        <table class="table my-4">
            <thead>
                <tr>
                    <th scope="col">VEKN #</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                </tr>
            </thead>
            <tbody id="playersTableBody">
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="navRound1" role="tabpanel" aria-labelledby="navRound1Tab">
    </div>
</div>
{% endblock %}