{% extends "layout.html.j2" %}

{% block scripts %}
<script async src="{{ url_for('static', path='tournament.js') }}" type="module"></script>
{% endblock%}

{% block content %}
<div id="tournamentDisplay" data-tournament='{{ tournament | jsonable | tojson }}'></div>
{% endblock %}