{% extends "layout.html.j2" %}

{% block scripts %}
<script async src="{{ url_for('static', path='base.js') }}" type="module"></script>
{% endblock%}

{% block content %}
<div>
    <p>Hello, World!</p>
</div>
{% endblock %}